* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5h6 {
    font-weight: 700;
    font-family: Montserrat;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.btn-large {
    font-size: 2rem;
    padding: 2.2rem 1.6rem;
}

.btn {
    margin-top: 4rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .5s;
}

.btn-outline {
    color: #2C3E50;
    border-color: #2C3E50;
    background-color: transparent;

}

.btn-outline:hover {
    color: #18bc9c;
    background-color: #2C3E50;
}

.btn-primary {
    background-color: #18BC9C;
    border-color: #18BC9C;

    padding: 1.2rem 1rem;
}

.btn-primary:hover {
    background-color: #128f76;
    border-color: #128f76;
}

.img-fluid {
    max-width: 100%;
    height: auto;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;

}

.text-uppercase {
    text-transform: uppercase;

}

/*navbar*/

nav {
    width: 100%;
    font-family: Montserrat;
    background-color: #2C3E50;
    color: #fff;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: .5rem;
}

#logo-box .logo {
    color: #18bc9c;
    font-weight: 700;
    font-size: 3.2rem;
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: .4rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .5s;
}

#nav-links .nav-link:hover {
    color: #18bc9c;
}

/*header*/

header {
    background-color: #18bc9c;
    padding-top: calc(112px + 10rem);
    padding-bottom: 112px;
    text-align: center;
}

header h1 {
    color: #2C3E50;
    font-size: 8rem;
}

header h2 {
    color: #2C3E50;
    font-size: 5rem;
    font-family: 'lato';
    font-weight: 500;
}

hr.star-dark {
    border-color: #2C3E50;
    color: #2C3E50;
}

hr.star-light {
    border-color: #2C3E50;
}

.star-dark,
.star-light {
    border: none;
    border-top: .4rem solid #2C3E50;
    max-width: 50rem;
    margin: 2.5rem auto;
    overflow: visible;

}

.star-light::after {
    background-color: #fff;
    color: #2C3E50;
}

.star-dark::after {
    background-color: #18bc9c;

}

.star-dark::after,
.star-light::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 5rem;
    position: relative;
    top: -35px;
    padding: 0 8px;
}

/*portfolio*/



#portfolio h2 {
    font-size: 4.8rem;
    color: #2C3E50;
}

.col {
    float: left;
    width: 33.3333%;
    padding: 5px;
}

.portfolio-item {
    position: relative;
    display: inline;

}

#portfolio-image {
    width: 100%;
    display: inline;

}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2C3E50;
    opacity: 0;
    transition: opacity .8;
}

.img-overlay .icon {
    color: #18bc9c;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.portfolio-item:hover .img-overlay {
    opacity: 0.8;
}

/*about*/

#about {

    background-color: #18bc9c;
    color: #2C3E50;
}

#about h2 {
    font-size: 4.8rem;
}

.about-text {
    text-align: left;
}

.about-text .left {
    float: left;
    width: 50%;
    padding-right: 2rem;
    padding-left: 20rem;
}

.about-text .right {
    float: right;
    width: 50%;
    padding-left: 2rem;
    padding-right: 20rem;
}

.about-text .text {
    font-size: 2rem;
}


/*contact*/

#contact {
    background-color: #18bc9c;
    color: #2C3E50;
}

#contact h2 {
    font-size: 4.8rem;
}

#contact-form {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    border-bottom: 2px solid #2C3E50;
    padding-bottom: 3rem;
    margin-bottom: 4rem;


}

.form-group input,
.form-group textarea {
    border: none;
    width: 100%;
    display: block;
    background-color: #18bc9c;
    font-size: 2.4rem;
    font-family: Montserrat;

}

.form-group input:focus {
    outline: 0;
}

.form-group textarea:focus {
    outline: 0;
}

/*footer*/

footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #2C3E50;
    color: #18bc9c;
    text-align: center;
}

footer h4 {
    font-size: 3rem;
}

footer p {
    font-size: 2rem;
    margin-top: 1rem;
}

footer li {
    display: inline;
    margin-right: 1rem;
}

.copyright {
    background-color: #18bc9c;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #2C3E50;
    text-align: center;
}
